* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Bree Serif', serif; */
}
* p{
    font-size: 13px;
    color: #33475b;
}
nav {
    background-color:#f4f9fd;
    height: 82px;
}
.nav-menu {
    background-color: white;
}
.sec-middle {
    width: 1024px;
    margin: 0 auto;
}


.nav-item {
    display: inline-block;
}


* li {
    list-style: none;
}
* a:not(.link-item-nav, .ctas-orange, .ctas-grey) {
    font-size: 13px;
    color:#cbd6e2;
}

* a {
    text-decoration: none;
}
.link-item-nav {
    color: #33475b;
    display: inline-block;
    line-height: 82px;
    vertical-align: middle;

}
.nav-main-list, .col-logo {
    width: 30%;
}
.float-left {
    float: left;
}

.nav-login, .menu{
    width: 70%;
    text-align: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col-logo {
    padding-left: 10px;
}
.logo-hubs {
    display: inline-block;
    margin:24px 0;
}

/* sectione-hero */
.sec-hero {
    background: #fff4ef url(img/jumbotron.png) no-repeat 65% 55%;
    height: 500px;
    /*  */
}


.prato-verde {
    background-color: #afebe4;
    padding:40px;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

/* sec-banner */
/* .sec-banner, .sec-learn-more, .sec-home-product {
    background-color: #f4f9fd;
} */
main {
    background-color: #f4f9fd;
    padding-bottom: 50px;
}
.img-cubo {
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.title-banner, .description-text {
    text-align: center;
    color: #33475b;
}

.title-banner {
    font-size: 50px;
    margin-bottom: 30px;
}
.description-text {
    font-size: 16px;
    padding-bottom: 30px;
}

/* sec-learn-more  */
.white {
    background-color: white;
}
.sec-learn-more {
    margin-bottom: 56px;
}
.img-libro {
    width: 190px;
    display: block;
    margin: auto;
}
.content {
    width: 70%;
    color: #33475b;
    padding: 40px 0;

}
.col-img {
    width: 30%;
    padding: 40px 0;
}
.cont-ctas-orange {
    width: 100%;
    text-align: center;
}
.ctas-orange {
    background-color: #fe775a;
    border: 1px solid #fe775a;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    margin:10px auto;
    text-decoration: none;
}
.text-with-hr {
    padding: 20px 0;

}
.text-with-hr h3 {
    display: inline-block;
}
.text-with-hr::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50%;
    margin-left: 50px;

}



/* sec-home-product */

.col-opt-marketing, .col-opt-sales, .col-opt-service {
    width: 30.3%;
    padding-bottom: 20px;
}
.col-opt-sales {
    margin: 0 4.5%;
}


.imm-box {
    width: 80px;
    margin: auto;
    /* background-color: teal; */
    display: block;
    padding: 10px 0;
    height: 90px;
}
.img-wrapper h2 {
    text-align: center;
    padding-top: 30px;
    color: #33475b;
    font-weight: 600;
    font-size: 22px;
}
.p-wrapper {
    text-align: center;
    color: #33475b;
    font-size: 13px;
    /* background-color: deeppink; */
    padding: 10px 45px;
}
.p-wrapper::after {
    height: 1px;
    content: "";
    background-color: #33475b;
    width: 85%;
    display: inline-block;
    margin-top: 50px;
}

.h3-feature-wrapper h3 {
    text-align: center;
    padding: 30px 0;
    color: #33475b;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.item-list {
    text-transform: capitalize;
}
.list-wrapper {
    padding: 10px 45px;
    color: #33475b;
    font-size: 13px;
}

/* sec-learn-and-grow */
.container-summary {
    background-color: #00b6ad;
    margin-right: -1px;
    margin-bottom: -1px;
    overflow: hidden;

}
.sec-learn-and-grow h2, .sec-learn-and-grow p{
    text-align: center;
}
.margin-negativo {
    overflow: hidden;
}
.grid-item {
    width: 25%;
    padding: 50px 0px;
    border-right: 1px solid white;
    border-bottom:1px solid white;
}
.content-grid-item {
}
.content-grid-item p,
.content-grid-item h2 {
    text-align: center;
}
.icon-agency {
   display: block;
   margin: auto;
   height: 30px;
   width: 100px;
}

/* VI row */
.home-customers-text-wrapper {
    width: 30%;
}
.home-customers-logo-grid {
    width: 70%;
    padding-left: 50px;
}
.home-customers-logo-wrapper {
    width: 25%;
    height: 110px;
    padding: 20px 0;
}
.home-customers-logo {
    width: 110px;
    height: 70px;
    object-fit: contain;
    display: block;
    margin: auto;
}

/* VII row  */
.start-growing-text-wrapper {
    width: 35%;
}
.start-growing-img-wrapper {
    width: 65%;
    height: 350px;
}
.img-woman-wrapper {
    position: relative;
    height: 350px;
}
.img-woman {
    object-fit: contain;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
}

/* VIII row-footer  */
.hsg-footer {
    background-color:#32495b;
    padding: 48px 32px;
}
.nav-footer {
    width: 25%;
}
.nav-footer >h4 {
    color:#fff;
    margin-bottom: 25px;
}

.cont-ctas-grey {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ctas-grey {
    background-color: #dadee0;
    border: 1px solid #cbd6e2;
    color: #32495b;
    border-radius: 5px;
    padding: 5px 13px;
    text-align: center;
    font-size: 13px;
}
.loghi-social {
    position: relative;
    left: -38px;
}