* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}
nav {
    background-color:#f4f9fd;
}
.nav-menu {
    background-color: white;
}
.sec-middle {
    width: 1024px;
    margin: 0 auto;
}

li {
    display: inline-block;
    list-style: none;
}
a {
    text-decoration: none;
    color: #33475b;
    display: inline-block;
    padding: 30px 10px;
}
.width-30, .col-logo {
    width: 30%;
}
.float-left {
    float: left;
}

.width-70, .menu{
    width: 70%;
    text-align: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col-logo {
    padding-left: 10px;
}
.logo-hubs {
    display: inline-block;
    margin:24px 0;
}

/* sectione-hero */
.sec-hero {
    background: #fff4ef url(img/jumbotron.png) no-repeat 65% 55%;
    height: 500px;
    /*  */
}


.prato-verde {
    background-color: #afebe4;
    padding:40px;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

/* sec-banner */
/* .sec-banner, .sec-learn-more, .sec-home-product {
    background-color: #f4f9fd;
} */
main {
    background-color: #f4f9fd;
}
.img-cubo {
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.title-banner, .description-text {
    text-align: center;
    color: #33475b;
}

.title-banner {
    font-size: 50px;
    margin-bottom: 30px;
}
.description-text {
    font-size: 1em;
    padding-bottom: 30px;
}

/* sec-learn-more  */ 
.white {
    background-color: white;
}
.sec-learn-more {
    margin-bottom: 56px;
}
.img-libro {
    width: 190px;
    display: block;
    margin: auto;
}
.content {
    width: 70%;
    color: #33475b;
    padding: 40px 0;

}
.col-img {
    width: 30%;
    padding: 40px 0;
}
.cont-ctas-orange {
    width: 100%;
    text-align: center;
}
.ctas-orange {
    background-color: #fe775a;
    border: 1px solid #fe775a;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin:10px auto;
}
.text-with-hr {
    padding: 20px 0;

}
.text-with-hr h3 {
    display: inline-block;
}
.text-with-hr hr {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin: 0 30px;
    color: #33475b;
}

/* sec-home-product */
.red {
    background-color:violet;
}
.col-opt-marketing, .col-opt-sales, .col-opt-service {
    width: 30.3%;
}
.col-opt-sales {
    margin: 0 4.5%;
}
.marketing-content {
    margin: auto;
    width: 180px;
    background-color: yellow;
}
.marketing-img-wrapper {
    width: 180px;
    margin: auto; 
    background-color: turquoise;
}
.imm-box {
    width: 80px;
    margin: auto;
    background-color: teal;
    display: block;
    padding-top: 10px;
}
.marketing-img-wrapper h2 {
    text-align: center;
    padding-top: 30px;
    color: #33475b;
    font-weight: 600;
    font-size: 22px;
}
.marketing-p-wrapper {
    text-align: center;
    color: #33475b;
    font-size: 13px;
    background-color: deeppink;
    width: 300px;
    margin: auto;
}